
<% if tournament.number_players == 8 %>
  <% if tournament.players.count <= 2 %>
    <div class="progress">
      <div class="progress-bar-green" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;">
        25%
      </div>
    </div>
  <% elsif tournament.players.count <= 3 %>
    <div class="progress">
      <div class="progress-bar-green" role="progressbar" aria-valuenow="38" aria-valuemin="0" aria-valuemax="100" style="width: 38%;">
        38%
      </div>
    </div>
  <% elsif tournament.players.count <= 4 %>
    <div class="progress">
      <div class="progress-bar-green" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
        50%
      </div>
    </div>
  <% elsif tournament.players.count <= 5 %>
    <div class="progress">
      <div class="progress-bar-orange" role="progressbar" aria-valuenow="63" aria-valuemin="0" aria-valuemax="100" style="width: 63%;">
        63%
      </div>
    </div>
  <% elsif tournament.players.count <= 6 %>
    <div class="progress">
      <div class="progress-bar-orange" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
        Almost full !
      </div>
    </div>
  <% elsif tournament.players.count < 8 %>
    <div class="progress">
      <div class="progress-bar-orange" role="progressbar" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100" style="width: 88%;">
        Hurry up !
      </div>
    </div>
  <% elsif tournament.players.count == 8 %>
    <div class="progress">
      <div class="progress-bar-red" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
        Tournament full
      </div>
    </div>
  <% end %>
<% elsif tournament.number_players == 16 %>
  <% if tournament.players.count <= 2 %>
    <div class="progress">
      <div class="progress-bar-green" role="progressbar" aria-valuenow="13" aria-valuemin="0" aria-valuemax="100" style="width: 13%;">
        13%
      </div>
    </div>
  <% elsif tournament.players.count <= 4 %>
    <div class="progress">
      <div class="progress-bar-green" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;">
        25%
      </div>
    </div>
  <% elsif tournament.players.count <= 6 %>
    <div class="progress">
      <div class="progress-bar-green" role="progressbar" aria-valuenow="38" aria-valuemin="0" aria-valuemax="100" style="width: 38%;">
        38%
      </div>
    </div>
  <% elsif tournament.players.count <= 8 %>
    <div class="progress">
      <div class="progress-bar-green" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
        50%
      </div>
    </div>
  <% elsif tournament.players.count <= 10 %>
    <div class="progress">
      <div class="progress-bar-orange" role="progressbar" aria-valuenow="63%" aria-valuemin="0" aria-valuemax="100" style="width: 63%%;">
        63%
      </div>
    </div>
  <% elsif tournament.players.count <= 12 %>
    <div class="progress">
      <div class="progress-bar-orange" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
        Almost full !
      </div>
    </div>
  <% elsif tournament.players.count < 16 %>
    <div class="progress">
      <div class="progress-bar-orange" role="progressbar" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100" style="width: 88%;">
        Hurry up !
      </div>
    </div>
  <% elsif tournament.players.count == 16 %>
    <div class="progress">
      <div class="progress-bar-red" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
        Tournament full
      </div>
    </div>
  <% end %>

<% elsif tournament.number_players == 32 %>
  <% if tournament.players.count <= 4 %>
    <div class="progress">
      <div class="progress-bar-green" role="progressbar" aria-valuenow="13" aria-valuemin="0" aria-valuemax="100" style="width: 13%;">
        13%
      </div>
    </div>
  <% elsif tournament.players.count <= 8 %>
    <div class="progress">
      <div class="progress-bar-green" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;">
        25%
      </div>
    </div>
  <% elsif tournament.players.count <= 12 %>
    <div class="progress">
      <div class="progress-bar-green" role="progressbar" aria-valuenow="38" aria-valuemin="0" aria-valuemax="100" style="width: 38%;">
        38%
      </div>
    </div>
  <% elsif tournament.players.count <= 16 %>
    <div class="progress">
      <div class="progress-bar-green" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
        50%
      </div>
    </div>
  <% elsif tournament.players.count <= 20 %>
    <div class="progress">
      <div class="progress-bar-orange" role="progressbar" aria-valuenow="63" aria-valuemin="0" aria-valuemax="100" style="width: 63%;">
        63%
      </div>
    </div>
  <% elsif tournament.players.count <= 24 %>
    <div class="progress">
      <div class="progress-bar-orange" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
        Almost full !
      </div>
    </div>
  <% elsif tournament.players.count < 32 %>
    <div class="progress">
      <div class="progress-bar-orange" role="progressbar" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100" style="width: 88%;">
        Hurry up !
      </div>
    </div>
  <% elsif tournament.players.count <= 32 %>
    <div class="progress">
      <div class="progress-bar-red" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
        Tournament full
      </div>
    </div>
  <% end %>
<% end %>
