<h1>PAGES#HOME</h1>
<p>FIND ME IN APP/VIEWS/PAGES/HOME.HTML.ERB</p>
<p>Find me in app/views/pages/home.html.erb</p>
<%= render "shared/header" %>
<%= link_to "All Bars", bars_path %> <br>
<%= link_to "All Tournaments", tournaments_path %>
