/* Main class */
.navbar-wagon {
  background: $snow;
  transition: all 0.3s ease;
  display: flex;
  height: 50px;
  padding: 0px 30px;
  align-items: center;
  justify-content: space-between;
}

/* Optional class to fix the navbar on top */
.navbar-wagon-fixed {
  z-index: 3;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
}

/* Navbar logo */
.navbar-wagon-brand img {
  width: 80px;
}

@media (max-width: 750px) {
.navbar-wagon-brand img {
  width: 90px;
}
}

/* Navbar right section (with form, links, button) */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Navbar item */
.navbar-wagon-item {
  flex: 0 1 auto;
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar standard link */
.navbar-wagon-link {
  color: $fire;
  font-size: px;
  font-weight: 700;
  text-transform: uppercase;
  box-sizing: border-box;
  padding-top: 14px;
  padding-bottom: 14px;
  &:hover {
  color: $fire;
  text-decoration: none;
  background-color: white;
  &:active {
    background-color: white;
  }
}
}

.navbar-wagon-link-mobile {
  color: $snow;
  font-size: px;
  font-weight: 700;
  text-transform: uppercase;
  box-sizing: border-box;
  padding-top: 14px;
  padding-bottom: 14px;
  &:hover {
  color: $snow;
  text-decoration: none;
  }
}

/* Navbar right button */
.navbar-wagon-button {
  margin-left: 10px;
  padding: 0 20px;
  border-radius: 20em;
  line-height: 40px;
  background-color: #D23333;
  color: white;
  font-size: 14px;
  border: 2px solid #D23333;
}
.navbar-wagon-button:hover {
  color: white;
  background: #D23333;
  border-color: #ac2626;
}

/* Navbar search form */
.navbar-wagon-search {
  flex: 0 1 300px;
  display: flex;
  justify-content: flex-end;
  padding: 0 10px;
  position: relative;
}
.navbar-wagon-search-btn {
  line-height: 40px;
  color: #E6E6E6;
  border: none;
  background: transparent;
  position: absolute;
  right: 14px;
  top: -2px;
  z-index: 1;
}
.navbar-wagon-search-input {
  flex: 0 1 300px;
  transition: all 0.15s ease;
  line-height: 40px;
  font-weight: lighter;
  color: #666666;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 14px;
  outline: none;
}
.navbar-wagon-search-input:focus  {
  border: 1px solid #CCCCCC;
}

/* Navbar dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}

.fa-bars {
  color: $fire;
  font-size: 20px;
}

.fa-times {
  color: $fire;
  font-size: 20px;
}

.full-screen-menu {
  background-color: $fire;
  position: fixed;
  z-index: 2;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30% 0;
}

.links-item {
  height: 150px;
  a {
    font-size: 30px;
  }
}
















