/* Main class */
.navbar-wagon {
  background: $snow;
  transition: all 0.3s ease;
  display: flex;
  height: 50px;
  padding: 0px 30px;
  align-items: center;
  justify-content: space-between;
}

/* Optional class to fix the navbar on top */
.navbar-wagon-fixed {
  z-index: 3;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
}

/* Navbar logo */
.navbar-wagon-brand img {
  width: 80px;
}

@media (max-width: 750px) {
.navbar-wagon-brand img {
  width: 90px;
}
}

/* Navbar right section (with form, links, button) */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Navbar item */
.navbar-wagon-item {
  flex: 0 1 auto;
  cursor: pointer;
}

/* Navbar standard link */
.navbar-wagon-link {
  margin-right: 20px;
  margin-left: 20px;
  color: $fire;
  font-size: px;
  font-weight: 700;
  text-transform: uppercase;
  box-sizing: border-box;
  &:hover {
  color: $yankees;
  text-decoration: none;
  }
  &-account {
    color: $yankees;
    margin-right: 20px;
    margin-left: 20px;
    font-size: px;
    font-weight: 700;
    text-transform: uppercase;
    box-sizing: border-box;
    &:hover {
    color: $yankees;
    text-decoration: none;
    }
  }
  &-log-out {
    color: $space;
    margin-right: 20px;
    margin-left: 20px;
    font-size: px;
    font-weight: 700;
    text-transform: uppercase;
    box-sizing: border-box;
    &:hover {
    color: $space;
    text-decoration: none;
    }
  }
}

// Menu mobile

.navbar-wagon-link-mobile {
  color: $snow;
  font-size: px;
  font-weight: 700;
  text-transform: uppercase;
  box-sizing: border-box;
  padding-top: 14px;
  padding-bottom: 14px;
  &:hover {
  color: $snow;
  text-decoration: none;
  }
}

.fa-bars {
  color: $fire;
  font-size: 20px;
}

.fa-times {
  color: $fire;
  font-size: 20px;
}

.full-screen-menu {
  background-color: $fire;
  position: fixed;
  z-index: 2;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30% 0;
}

.links-item {
  flex: 1;
  a {
    font-size: 25px;
  }
}
















