/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

.banner-of-91 {
  width: 91.5%
}

.no-padding-right {
  padding-right: 0px !important;
}

.no-padding-left {
  padding-left: 0px !important;
}
// Margins

.no-marged-right {
  margin-right: 0px;
}

.no-marged-left {
  margin-left: 0px;
}
// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.username-card {
  color: $fire;
  text-transform: uppercase;
}

.fixed {
  position: fixed !important;
}

.authorize-scroll {
  overflow: auto;
  max-height: 80vh;
}

h3 {
  margin-top: 10px;
  color: $fire;
}

.facebook {
  background-color: #3B5998 !important;
  border-color: #3B5998 !important;
  width: 70% !important;
  margin-top: 20px !important;
}

.form-inputs {
  margin: 0px auto !important;
  width: 70% !important;
}

.btn-primary-log {
  margin-top: 20px;
  width: 70% !important;
}

.btn-primary-password {
  margin-top: 20px;
  width: 70% !important;
  background-color: $red;
  border-color: $red;
}

.fake-height {
  height: 100px;
}

// body {
//   padding-top: 50px;
// }
