.hidden-button {
  display: none;
}

.fixed-form {
  min-width: 80%;
  margin: 0px auto;
}

.container-de-secours {
  height: 100px;
}

.number-players {

}

.address-of-bars {

}

.date-of-tournament {

}

.submit-form {

}

.number-players-container-button {
  width: 30px;
}
.number-players-button {
  background-color: $fire;
  color: $snow;
  padding: 5px 5px;
  border-radius: 2px;
  min-width: 18px;
  width: 30px;
  text-align: center;
}
