.banner {
  position: fixed;
  margin-top: 50px;
  width: 100%;
  color: white;
  text-align: center;
  height: calc(100vh - 50px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 50px;
  }
  h1 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 600;
  // text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }
  &-content {
    width: 90%;
  }

}

.banner-for-log {
  padding-top: 50px;
  padding-bottom: 30px;
  overflow: auto;
  margin-top: 50px;
  width: 100%;
  color: white;
  text-align: center;
  height: calc(100vh - 50px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  justify-content: space-around;
  p {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 50px;
  }
  h2 {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 600;
  // text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }
  &-content {
    width: 90%;
  }

}

.form-homepage {
  width: 90%;
  margin: 0px auto;
  padding-bottom: 40px;
  @media (min-width: $screen-sm) {
    width: 450px;
  }
}

.form-group-header {
  width: 100% !important;
  @media (min-width: $screen-sm) {
    width: 450px !important;
  }
}

.form-control-header {
  width: 100% !important;
  @media (min-width: $screen-sm) {
    width: 300px !important;
    color: $space;
  }
}

.btn-primary-header {
  width: 100%;
  margin-top: 15px;
  font-weight: 600;
  @media (min-width: $screen-md) {
    width: 50px;
    margin-top: 0px;
  }
}
