.list-players {
  width: 100%;
  height: 50px;
  margin: 10px auto;
  padding: 5px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $snow;
  border: 1px solid $snow;
  border-radius: 2px;
  border
  &-avatar {
    flex: 0 0 15%;
    img {
      margin-left: 7px;
    }
  }
  &-username {
    flex: 0 0 25%;
  }
  &-material {
    flex: 0 0 40%;
  }
  &-actions {
    padding-left: 8px;
    flex: 0 0 10%;
    i {
      font-size: 14px;
    }
  }
  &-team {
    height: 100%;
    width: 100%;
    border-left: 1px solid $space;
    flex: 0 0 10%;
    &-images {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      img {
        width: 30px;
        margin-left: 5px;
      }
    }
  }
}


.fa-pencil-disabled {
  color: $space;
}

.fa-pencil-active {
  color: $fire;
}

.color-fire {
  color: $fire;
}
