.module-right-full-tournament {
  margin: 10px auto;
  border: 1px solid $yankees;
  width: 100%;
  height: 400px;
  background-color: $snow;
  &-message {

  }
}

.module-right-full-tournament-start {
  margin: 10px auto;
  border: 1px solid $yankees;
  width: 100%;
  height: 400px;
  background-color: $snow;
  &-message {

  }
}

.module-right-not-full-tournament-miss-material {
  margin: 10px auto;
  border: 1px solid $yankees;
  width: 100%;
  height: 400px;
  background-color: $snow;
  &-list-material {

  }
  &-form-update {

  }
}

.module-right-not-full-tournament-join {
  margin: 10px auto;
  border: 1px solid $yankees;
  width: 100%;
  height: 400px;
  background-color: $snow;
  &-form {

  }
}
