 .module-right-full-tournament {
  border-radius: 2px;
  margin: 10px auto;
  margin-bottom: 100px;
  border: 1px solid $red;
  width: 100%;
  min-height: 200px;
  background-color: $red;
  display: flex;
  align-items: center;
  justify-content: space-around;
  &-message {
    color: $snow;
    text-transform: uppercase;
    font-weight: 600;
  }
}

.module-right-full-tournament-player {
  border-radius: 2px;
  margin: 10px auto;
  border: 1px solid $green;
  width: 100%;
  min-height: 200px;
  background-color: $green;
  display: flex;
  align-items: center;
  justify-content: space-around;
  &-message {
    color: $snow;
    text-transform: uppercase;
    font-weight: 600;
  }
}

.module-right-full-tournament-start {
  border-radius: 2px;
  margin: 10px auto;
  border: 1px solid $snow;
  width: 100%;
  min-height: 200px;
  background-color: $snow;
  display: flex;
  align-items: center;
  justify-content: space-around;
  &-message {
     color: $green;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
  }
  .button-start-tournament {

  }
}


.module-right-not-full-tournament-miss-material {
  border-radius: 2px;
  margin: 10px auto;
  padding: 15px 15px;
  border: 1px solid $snow;
  width: 100%;
  min-height: 200px;
  background-color: $snow;
  &-list-material {
    display: flex;
    align-items: center;
    justify-content: space-around;
    &-console {
      color: $fire;
      font-weight: 600;
    }
    &-shifters {
      color: $fire;
      font-weight: 600;
    }
    &-fifa {
      color: $fire;
      font-weight: 600;
    }
  }
  &-form-update {

  }
}

.module-right-not-full-tournament-join {
  border-radius: 2px;
  margin: 10px auto;
  padding: 15px 15px;
  border: 1px solid $snow;
  width: 100%;
  min-height: 200px;
  background-color: $snow;
  h3 {
    font-size: floor(($base-size * 1.5)) !important;
  }
  &-form {
  }
}

.title-module {
  margin-top: 10px;
  color: $yankees;
}

.btn-primary-update {
  margin-top: 10px;
  width: 100%;
  font-weight: 600;
}

.button-start-tournament {
  font-weight: 600 !important;
}


.player_fifa_game_ps4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .collection_radio_buttons {
    flex: 0 0 31%;
  }
}

.player_controller_ps4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.player_ps4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  .collection_radio_buttons {
    flex: 0 0 48%;


  }
}
