// Cards of match

.card-team-left {
  width: 250px;
  margin-bottom: 20px;
  padding: 15px 15px;
  border-radius: 2px;
  background-color: $snow;
  display: flex;
  align-items: center;
  justify-content: space-between;
    .card-team-left-image {
      flex: 0 0 20%;
      img {
        width: 30px;
      }
    }
    .card-team-left-name {
      flex: 0 0 40%;
      color: $yankees;
      font-weight: 600;
      text-transform: uppercase;
    }
    .card-team-left-score {
      flex: 0 0 20%;
      width: 100%;
      height: 100%;
        input {
          background-color: $snow;
          border-radius: 2px;
          font-weight: 600;
          padding: 4px 0px;
          color: $fire;
          width: 100% !important;
          height: 100% !important;
          text-align: center;
          border: none !important;
          border-color: $snow;
        }
    }
  .card-team-left-update-score {
    flex: 0 0 20%;
    button {
      font-size: 14px;
      border-radius: 2px;
      width: 90% !important;
      height: 100% !important;
      background-color: $snow !important;
      border: none !important;
      color: $green !important;
      &:hover {
        background-color: $yankees !important;
      }
    }
  }
}

.card-team-right {
  width: 250px;
  margin-bottom: 20px;
  padding: 15px 15px;
  border-radius: 2px;
  background-color: $snow;
  display: flex;
  align-items: center;
  justify-content: space-between;
    .card-team-right-image {
      flex: 0 0 20%;
      img {
        width: 30px;
      }
    }
    .card-team-right-name {
      flex: 0 0 40%;
      text-align: right;
      color: $yankees;
      font-weight: 600;
      text-transform: uppercase;
    }
    .card-team-right-score {
      flex: 0 0 20%;
      width: 100%;
      height: 100%;
        input {
          color: $fire;
          background-color: $snow;
          border-radius: 2px;
          font-weight: 600;
          padding: 4px 0px;
          width: 100% !important;
          height: 100% !important;
          text-align: center;
          border: none !important;
          border-color: $snow;
        }
    }
  .card-team-right-update-score {
    flex: 0 0 20%;
    button {
      font-size: 14px;
      border-radius: 2px;
      width: 90% !important;
      height: 100% !important;
      background-color: $snow !important;
      border: none !important;
      color: $green !important;
      &:hover {
        background-color: $yankees !important;
      }
    }
  }
}

// Rankings

.ranking {
  width: 400px;
  padding: 15px 15px;
  background-color: $snow;
  border-radius: 2px;
  .ranking-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    font-weight: 600;
    .ranking-header-rank {
      flex: 0 0 12%;
      text-align: center;
    }
    .ranking-header-team {
      flex: 0 0 40%;
      text-align: center;
    }
    .ranking-header-pts {
      flex: 0 0 12%;
      text-align: center;
    }
    .ranking-header-diff {
      flex: 0 0 12%;
      text-align: center;
    }
    .ranking-header-bp {
      flex: 0 0 12%;
      text-align: center;
    }
    .ranking-header-bc {
      flex: 0 0 12%;
      text-align: center;
    }
  }
  .ranking-each-team {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    font-weight: 600;
    // border-top: 1px solid white;
    // border-top: 1px solid rgba(21, 50, 67, 0.5);
    .ranking-each-team-infos {
      flex: 0 0 40%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .ranking-each-team-infos-avatar {
        flex: 0 0 30%;
        .team-photo {
          width: 30px;
        }
      }
      .ranking-each-team-infos-name {
        flex: 0 0 70%;
        text-transform: uppercase;
      }
    }
    .ranking-each-team-number {
      flex: 0 0 12%;
      text-align: center;
      &-rank {
        color: $fire;
      }
    }
  }
}














































