.container-tournament-show {
  @media (min-width: $screen-md) {
    margin: 0px 70px !important;
    width: 90% !important;
  }
}

// .col-md-10-tournament {
//     width: 75% !important;
// }

// .col-md-2-tournament {
//     width: 25% !important;
// }

// .col-xs-12-tournament {
//   width: 100% !important;
// }

.margin-top-title-tournament {
  margin-top: 40px;
  color: $yankees;
}

.margin-bottom-title-username {
  margin-bottom: 40px;
}

.username-tournament {
  color: $fire;
  text-transform: uppercase;
}

.infos-tournament-in-banner {
  color: $fire;
}

.username-player {
  color: $yankees;
  font-weight: 600;
}

.container-for-title {
  position: relative;
  h1 {
    margin-left: 0px;
  }
}

h1 {
  color: $fire;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.wrapper-for-sharing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: $snow;
  padding: 15px 15px;
  padding-bottom: 25px !important;
  margin-bottom: 50px;
  margin-top: 20px;
  border-radius: 2px;
  h2 {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.wrapper-for-missing-material {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: $snow;
  padding: 15px 15px;
  padding-bottom: 25px !important;
  margin-bottom: 50px;
  margin-top: 20px;
  border-radius: 2px;
  h2 {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

