<% if review.player.user.facebook_picture_url %>
  <% avatar_url = review.player.user.facebook_picture_url %>
  <%= image_tag avatar_url, class: "avatar" %>
  <% else %>
  <%= image_tag "#{review.player.user.link}.jpeg", class: "avatar" %>
<% end %>
  <h3 style="display: inline"><%= review.player.user.first_name.capitalize %></h3></br>
<p><%= review.content %></p>
